<ng-container *ngIf="(activeMenuItem$ | async) as active">
    <!-- StackLayout row="0" class="sidedrawer-header">
        <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
        <Label class="sidedrawer-header-brand" text="User Name"></Label>
        <Label class="footnote" text="username@mail.com"></Label>
    </StackLayout -->

    <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
            <GridLayout *ngFor="let item of drawerItems" columns="auto, *" class="sidedrawer-list-item" [class.selected]="active.path == item.path"
                (tap)="onDrawerButtonTap(item)">
                <Label col="0" [text]="'fa-'+item.icon | fonticon" class="fa"></Label>
                <Label col="1" [text]="item.title" class="p-r-10"></Label>
            </GridLayout>

            <!-- StackLayout class="hr-light"></StackLayout>

            <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="active.path =='/settings'" (tap)="onDrawerButtonTap('/settings')">
                <Label col="0" text="&#xf013;" class="fa"></Label>
                <Label col="1" text="Settings" class="p-r-10"></Label>
            </GridLayout -->
        </StackLayout>
    </ScrollView>
</ng-container>