<FlexboxLayout class="page-content">
  <StackLayout class="form">
    <Image class="logo" src="res://logo"></Image>
    <Label class="header" [text]="app_name"></Label>

    <StackLayout *ngIf="!providedData" class="input-field">
      <TextField class="input" hint="Uid" autocorrect="false" autocapitalizationType="none" [(ngModel)]="uid" returnKeyType="next"></TextField>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

    <StackLayout *ngIf="!providedData" class="input-field">
      <TextField class="input" hint="Token" autocorrect="false" autocapitalizationType="none" [(ngModel)]="token" returnKeyType="next"></TextField>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

    <Button [disabled]="!canSubmit()" text="Activate" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
  </StackLayout>
</FlexboxLayout>
