<FlexboxLayout class="page-content">
  <StackLayout class="form">
    <Image class="logo" src="res://logo"></Image>
    <Label class="header" [text]="app_name"></Label>

    <StackLayout class="input-field">
      <TextField class="input" hint="New Email" secure="true" [(ngModel)]="new_email" returnKeyType="next"></TextField>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

    <StackLayout class="input-field">
      <TextField class="input" hint="Current Password" secure="true" [(ngModel)]="current_password" returnKeyType="done"></TextField>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

    <Button [disabled]="!canSubmit()" text="Change" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
  </StackLayout>
</FlexboxLayout>
